// FONTS
@import url('//fonts.googleapis.com/css?family=Roboto:100,300,400,700');
@import url('//fonts.googleapis.com/css?family=Roboto');
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

// VENDOR
@import "bootstrap-sprockets";

body{
    background:whitesmoke !important;
    font-size:12px !important;  
    line-height:2 !important;
}

* {
	outline: none;
}

    
.table-bordered tr:hover{
    background:whitesmoke;
}

.pagination{
    display:initial;
}

    
.table-area{
    background:white;
    padding:20px;
    border-radius: 0 6px 6px 6px;
    height: calc(100vh - 200px);
}

.bottom-btn{
    float:right
}

link{
    font-size:12px;
}

.table thead th{
    background:whitesmoke
}

.icone{
    width:30px!important;
    height:auto;
}

.circle-gray{
    background:whitesmoke;
    border:1px solid lightgray;
    vertical-align:middle;
    padding:5px 8px;
    text-align:center;
    border-radius:50%;
}


@media (max-width: 1000px) {
    .table-area{
    overflow: auto;
    display: list-item;
    }
}