<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-left">
      <p id="notice"><%= notice %></p>
        <h4>Nova Avaliação</h4>
      <hr> 
      <table class="table table-bordered">
        <tbody>
        <%= render 'form', store_avaliation: @store_avaliation %>
        </tbody>
      </table>
    </div>
  </div>
</div>